<div *ngIf="pageTitle" aria-live="assertive">
    <span [attr.aria-label]="pageTitle" role="alert"></span>
</div>

<main class="container">
    <h1 class="header">Website</h1>
    <p class="prg">This website was built trying to use as much as possible <strong class="blue">Angular's conventions,
            patterns, and best
            practices</strong>, along with <strong class="blue">frontend basics</strong> and <strong class="blue">web
            design rules</strong>, all from updated
        documentations
        and
        courses.</p>
    <p class="prg">Here are some of what's been applied:</p>

    <h2 class="title">Lazy Loading and Preloading</h2>
    <p class="prg">Speed up the website's startup time, by reducing the number of files downloaded and
        compiled when it is launched.</p>
    <p class="prg">Lazy loading allow us to load some modules on demand while preloading quickly launch
        them after the initial navigation.</p>
    <p class="prg">The user can then benefit from a <strong class="red">reduced startup time</strong> and a <strong
            class="red">faster
            navigation</strong> to the
        lazy loaded
        modules.</p>

    <h2 class="title">Modular Approach</h2>
    <p class="prg">Standalone components are the new tendency in Angular apps, but since not everyone has yet migrated
        to the latest
        versions, I prefered to stick with the traditional modular approach.</p>
    <p class="prg">The components were divided into <strong>basic application module</strong>, <strong>feature
            modules,</strong> and <strong>shared module</strong>. </p>
    <p class="prg">Modules help us to <strong class="red">organize</strong> the pieces of our application and
        arrange them into <strong class="red">blocks of funcionality</strong>. Also, they are required for lazy
        loading.
    </p>

    <h2 class="title">Application Structure and Organization</h2>
    <p class="prg">The basic recommendations to keep the application <strong class="red">organized and easy to work as
            it
            grows</strong>
        were
        applied, such as recommended file naming, folder structure, one item per file, symbol naming, organized code.</p>

    <h2 class="title">Web Design</h2>
    <p class="prg">The main design rules were applied to <strong class="red">give the users a better
            experience</strong>, such as color and typography system, whitespaces and visual hierarchy concerns,
        optimized images, contrast checking.
    </p>

    <h2 class="title">Responsive Design</h2>
    <p class="prg">This website was adapted to <strong class="red">work well in different screen sizes</strong>, by
        using responsive units, media queries, changing the layout of components based on screen range, and many other features.</p>

    <h2 class="title">Accessibility</h2>
    <p class="prg">Techniques, tests, and tools were applied to provide a better navigation for all kinds of users and
        allow
        <strong class="red">people with
            disabilities to also have a good experience</strong>.
    </p>
</main>