<section aria-labelledby="about-title">
  <h2 class="header" id="about-title">About</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="content">
    After the first experience as a developer in one of the best IT companies, I decided to specialize in the frontend.
    I did a deep study on the Angular Framework, expanding my skills to build any scale of web
    apps and websites.
    Now, <strong>I'm
      looking for
      new opportunities</strong> to keep learning and continue my career as an <strong class="red">Angular
      Developer</strong>.
  </p>
</section>