<div *ngIf="pageTitle" aria-live="assertive">
  <span [attr.aria-label]="pageTitle" role="alert"></span>
</div>

<section class="container" aria-labelledby="api-title">
  <h1 class="header" id="api-title">API</h1>
  <p class="prg">The following table emulates the main <strong>CRUD</strong> operations over a <strong>REST
      API</strong>, using an
    <strong class="blue">In-Memory
      Web
      Api for Angular</strong>. It allow us to simulate data persistence operations by intercepting requests that
    would otherwise go to a remote server. That way, <strong class="red">no backend is needed for testing HTTP
      requests</strong>.
  </p>
  <p class="prg">
    You can add a new course, edit, or delete, and then verify the updated list.
  </p>
  <p class="prg">
    In the "Update Course" page a routed component was used instead of a dialog, intending to demonstrate both use
    cases.
  </p>
</section>

<crs-table></crs-table>

<section class="container" aria-labelledby="main-features-title">
  <h2 class="title" id="main-features-title">Main Features</h2>
  <mat-divider></mat-divider>
  <h3 class="subtitle margin1">Route Resolvers</h3>
  <p class="prg">They were applied in some routes so that the view can only be displayed after the data from HTTP
    requests
    have been
    gathered. This feature can improve the user experience, since the view will not appear with empty values and have
    all its content displayed suddenly.</p>
  <h3 class="subtitle">In-Memory Data Storage</h3>
  <p class="prg">Allow us to simulate data persistence operations for testing purpose, including
    auto-generating id's.
    It's a better
    option than a hard-coded data.</p>
  <h3 class="subtitle">Component Communication</h3>
  <p class="prg">Table, dialog, and update components are all integrated, so the data is consistent among them, sharing changes all together.
  </p>
  <h3 class="subtitle">Angular Material</h3>
  <p class="prg">The table, the dialog, and the forms were built using Angular Material components.</p>
</section>