:host {
    display: block;
    max-width: 100rem;
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.container {
    max-width: 90%;
    margin: auto;
    margin-top: 5rem;
}

.header {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 3rem;
}

mat-basic-chip {
    margin: 0.5rem;
    padding-left: 4rem;
}

.title {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.15;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.prg {
    line-height: 1.4;
    text-align: justify;
    text-indent: 4rem;
    margin-bottom: 1rem;
}

.red {
    color: #D50000;
}

.material-symbols-outlined {

    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
}

.good {
    color: green !important;

}

.bad {
    color: red !important;

}

.forms {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

// Below 816px
@media (max-width: 51em) {

    .mobile {
        text-wrap: wrap;
    }

    .title {
        margin-bottom: 0.3rem;
    }

    .demos {
        margin-top: 4rem;
    }

    .forms {
        flex-direction: column;
        gap: 3rem;
    }
}

// Below 592px
@media (max-width: 37em) {

    mat-basic-chip {
        margin: 0.7rem;
        padding-left: 0;
    }
}