:host {
  max-width: 350px;
}

.title {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.15;
  margin-bottom: 2rem;
  margin-left: 5.5rem;
}

.field {
  width: 250px;
}

.notMatch {
  margin-top: -2rem;
  margin-left: 2rem;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 2rem;
}

.checkbox {
  margin-bottom: 1rem;
}

.remove-button {
  display: inline;
}

// Below 816px
@media (max-width: 51em) {

  :host {
    margin: auto;
  }

  .title {
    text-align: center;
    margin-left: 0;
  }

  form {
    margin-left: 5.5rem;
  }

  .submit {
    margin-left: 9rem;
  }

  .remove-button {
    display: block;
    margin-left: 11.5rem;
    transform: translateY(-1rem);
  }
}

// Below 408px
@media (max-width: 25.5em) {

  form {
    margin-left: 0;
  }

  .field {
    max-width: 80%;
  }

  .submit {
    margin-left: 0;
  }

  .remove-button {    
    margin-left: 0;
    
  }
}